@media (max-width: 1320px) {
  .workTogether {
    margin-top: 120px;
  }
  .contact-links-row-1 a {
    font-size: 25px;
  }
  .contact-links-row-2 a {
    font-size: 20px;
  }
}

@media (max-width: 1000px) {
  .workTogether {
    margin-top: 110px;
    font-size: 60px;
  }
  .takeYourCoffee {
    font-size: 20px;
    margin-top: -50px;
  }
  .contact-links-row-1 a {
    margin-top: 40px;
    font-size: 25px;
  }
  .contact-links-row-2 a {
    font-size: 20px;
  }
  .contact-links-row-1 a,
  .contact-links-row-2 a {
    padding: 0 10px;
  }
  .contact-links-marginBottom {
    margin-bottom: 110px;
  }
}

@media (max-width: 780px) {
  .contact-section-header {
    margin-bottom: -35px;
  }
  .workTogether {
    margin-top: 120px;
  }
  .takeYourCoffee {
    font-size: 25px;
    margin-top: -45px;
  }
  .projects-grid {
    grid-template-columns: 330px 330px;
  }
  .contact-links-row-1 a,
  .contact-links-row-2 a {
    padding: 0 5px;
  }
  .contact-links-row-1 a {
    font-size: 23px;
  }
  .contact-links-row-2 a {
    margin-top: 10px;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .workTogether {
    font-size: 50px;
    margin-top: 175px;
  }
  
  .takeYourCoffee {
    font-size: 23px;
    margin-top: -50px;
  }

  .projects-grid {
    grid-template-columns: 330px;
  }

  .projects-section-header {
    font-size: 20px;
  }

  .contact-links-row-1 a,
  .contact-links-row-2 a {
    padding: 0 5px;
  }

  .contact-links-row-1 a {
    margin-top: 10px;
    font-size: 18px;
  }

  .contact-links-row-2 a {
    margin-top: -15px;
    font-size: 16.5px;
  }

  .contact-links-marginBottom {
    margin-bottom: 180px;
  }

  footer {
    height: 50px;
  }

  .copyright {
    font-size: 15px;
  }
}

@media (max-width: 550px) {
  .heyIamMorteza {
    font-size: 34px;
  }
  .headerContainer:hover .heyIamMorteza {
    margin-top: 40px;
  }
  .aWebDeveloper {
    font-size: 20px;
    top: 45px;
  }
  .codewars {
    height: 30px;
    margin: 0;
    transform: translate(0, -10px);
    opacity: 0.4;
    transition: transform 2s, opacity 1s, margin 2s;
  }
  .headerContainer:hover .codewars {
    transform: translate(0, -25px); /* Move up on hover */
  }
  .workTogether {
    margin-top: 40px;
    font-size: 35px;
  }
  .takeYourCoffee {
    margin-top: -30px;
    margin-bottom: 30px;
    font-size: 20px;
  }
  .contact-links-grid {
    grid-template-columns: 300px; /* contact-links single grid column */
  }
  .contact-section-header {
    margin-bottom: -35px;
  }
  .contact-links-row-1 {
    margin-bottom: 0;
  }
  .contact-links-row-1 a,
  .contact-links-row-2 a {
    text-align: left;
    margin-top: 15px;
    font-size: 20px;
  }
  .contact-links-marginBottom {
    margin-bottom: 40px;
  }
  footer {
    height: 30px;
  }
  .copyright {
    font-size: 10px;
  }
}
