@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
  margin: 0;
  overflow-x: hidden;
  display: grid;
  grid-template-rows: 100vh auto auto auto;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--main-red);
  color: var(--main-white);
  text-decoration: none;
  height: 60px;
  margin-top: 0;
}

nav ul li {
  margin-right: 30px;
  font-size: 18px;
}

nav ul li a {
  text-decoration: none;
  color: var(--main-white);
}

.welcome-section {
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heyIamMortezaLink {
  position: relative;
  text-decoration: none;
  color: var(--main-white);
  height: 100px;
}

.heyIamMorteza {
  font-size: 50px;
}

.codewars {
  z-index: 1;
  opacity: 0.1;
  margin-top: 30px; /* Initial position */
  transition: margin-top 2s, opacity 2s;
}

.headerContainer:hover .codewars { 
  margin-top: 10px; /* Move up on hover */
  opacity: 0.8;  
  z-index: 2;
}

.codewars:hover {
  opacity: 1;
}


.aWebDeveloper {
  position: absolute;
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  color: var(--main-red);
  top: 70px;
  left: 100px;
  transition: opacity 2s;
}

.headerContainer:hover .aWebDeveloper { 
  opacity: 0;  
}


.projects-section {
  background-color: var(--main-blue);
  display: grid;
  justify-content: center;
} 

.projects-section-header {
  /* display: inline-block; */
  font-family: "Raleway", sans-serif;
  text-align: center;
  border-bottom: 2px solid var(--main-white);
  padding-bottom: 5px;
  font-size: 35px;
  margin-top: 65px;
}

.projects-grid {
  display: grid;
  /* background-color: blue; */
  grid-template-columns: 330px 330px 330px;
  justify-content: center;
  height: auto;
  gap: 20px;
}

.projects-grid a {
  border: 2px solid white;
  background-color: var(--main-gray);
  display: grid;
  grid-template-rows: 85% 1fr;
  text-decoration: none;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-title {
  color: var(--main-white);
  font-size: 15px;
  text-align: center;
}

.contact-section {
  height: auto;
  background-color: var(--main-gray);
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 3px solid var(--main-red);
}

.contact-section-header h2 {
  padding-top: 80px;
  font-size: 50px;
}

.contact-section-header p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  margin-top: -40px;
}

.contact-links {
  margin-top: 20px;
  margin-bottom: 130px;
}

.contact-links a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: var(--main-white);
  margin: auto 20px;
}

footer {
  background-color: var(--main-gray);
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: var(--main-red);
  font-family: Montserrat;
  font-weight: 600;
}

footer a {
  text-decoration: none;
  color: inherit;
}

.btn-show-all {
  text-decoration: none;
  color: var(--main-white);
  background-color: var(--main-gray);
  margin: 50px auto 80px;
  padding: 7px 20px 7px 17px;
  font-size: 15px;
  border-radius: 2px;
  transition: background-color 200ms ease-in-out;
}

.fa-chevron-right {
  font-size: 15px;
  vertical-align: middle;
  transform: translate(5px);
  transition: transform 200ms ease-in-out;
} 

.btn-show-all:hover {
  background-color: var(--main-red);
}

.btn-show-all:hover .fa-chevron-right {
  transform: translate(7px);
}

